<turbo-frame id="<%= dom_id(@round_user) %>">
  <div class="level">
    <p class="level-item">
      <%= "#{@round_user.username}"%>
    </p>

    <p class="level-item">
      <%= @user_voted ? 'true' : 'false' %>
    </p>


    <div class="round_user__actions buttons">
      <%= button_to "Delete",
                    round_user_path(@round_user),
                    method: :delete, class: "button level-item" %>
    </div>
  </div>
</turbo-frame>
