<%= turbo_frame_tag round do %>
  <div class="round container mt-6">
    <div class="level">
      <%= link_to round.title,
                  round_path(round),
                  data: { turbo_frame: "_top" } %>

      <div class="buttons">
        <%= button_to "Delete",
                    round_path(round),
                    method: :delete, class: "button is-pulled-right level-item" %>
        <%= link_to "Edit",
                  edit_round_path(round), class: "button is-pulled-right level-item" %>
      </div>
    </div>
  </div>
<% end %>
