<%= turbo_frame_tag round_user do %>
  <div class="round_user">
    <%= round_user.user.username %>
    <div class="round_user__actions">
      <%= button_to "Delete",
                    round_user_path(round_user),
                    method: :delete %>
    </div>
  </div>
<% end %>
