<article class="container is-small flash__message is-link" data-controller="removals" data-action="animationend->removals#remove">
  <p><%= message %></p>
  <button class="delete is-small" aria-label="delete"></button>
</article>
